/*----*/
/*Estilização Geral*/

:root {
    --primary-color: #4caf50;
    --secondary-color: #f0f0f0;
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --button-hover-color: #388e3c;
}

body {
    font-family: var(--font-family);
    background: radial-gradient(circle, gray 30%, black 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}